<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Recipes</title>
</head>
<body class="container">
    <header class="headcol-2">
        <div>
            <h4><em>With a little help from my friends</em></h4>
        </div>
        <nav class="topnav">
            <ul class="topnav"></ul>
        </nav>
    </header>
    <main>
        <section class="col-3-1">
            <div class="splashlogo">
                <img src="../../myrecipes/img/logo.svg" width="98%" title="myrecipes logo">
            </div>
            <div class="kynning">
                <h2>Scalable Vector Graphics. Í 4. verkefni búum við til nýja forsíðu á uppskriftarvefinn og notum</h2>
            </div>
            <div class="auglýsing">
                <!-- verkefni 5 sett hér -->
                {% include "auglysing.html" %}
            </div>
        </section>
        <figure class="col-4">
            <img src="img/front/bread.jpg" title="bread">
            <img src="img/front/FigHamStarter" title="starters">
            <img src="Grilled-Buttermilk-Chicken.jpg" title="courses">
            <img src="img/front/desserts-hero.jpg" title="desserts">
        </figure>
    </main>
    <footer><p>&copy; 2020 GJG - tölvubraut Tækniskólans</p></footer>
</body>
</html>